debug:
    debug level: DEBUG
bot:
    admin users:
        - 
    bot token: 
    watched channels: 
        - 
    target video channel: 
    command prefix: '$'
    ok reply: 'Done'
    utc time offset: 3
    allow copies in archive: True
youtube:
    client secrets file: 
    credentials file: 
    eligible categories:
        - '10'